body,html{
    background-color: #fdfdfe;
    height: 100vh;
}

h3{
    text-align: center;
    color: darkblue;
}

.container{
    display: flex;
}

.list{
    flex: 3;
}

.form{
    flex: 2;
}

#iImportant{
    font-size: 32px;
    cursor: pointer;
    color: #666;
}
#iImportant.far{
    color: red;
}
.task{
    display: flex;
    align-items: center;
    background-color: #f8f8fa;
    border: 1px solid #3c85d7;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 0, 20px;
    color: #fff;
}
.task:hover{
    color:#fff;
    background-color: #4b9;

}
.task h3{
    flex:3;
    color: #fff;
    text-align: left;
}
.task label{
    flex:1;
}
.task.dates{
    flex:1;
}
.task.dates label{
    display: block;

}