body,html{
    background-color: #fdfdfe;
    height: 100vh;
}

h3{
    text-align: center;
    color: darkblue;
}

.container{
    display: flex;
}

.list{
    flex: 3;
}

.form{
    flex: 2;
}

#iImportant{
    font-size: 32px;
    cursor: pointer;
    color: #666;
}
#iImportant.far{
    color: red;
}
.task{
    display: flex;
    align-items: center;
    background-color: #f8f8fa;
    border: 1px solid #3c85d7;
    border-radius: 4px;
    padding: 7px 10px;
    margin: 5px 20px;
    color: rgb(141, 117, 141);
}
.task:hover{
    color:#fff;
    background-color: #4b9;

}
.task h3{
    flex:3;
    color: #fff;
    text-align: left;
}
.task label{
    flex:1;
}
.task.dates{
    flex:1;
}
.task.dates label{
    display: block;

}
.status-0{
    border: 2px solid rgb(95, 95, 200);
    border-left-width: 5px;
}
.status-1{
    border: 2px solid rgb(29, 29, 101);
    border-left-width: 5px;
}
.status-3{
    border: 2px solid darkred;
    border-left-width: 5px;
}
.status-6{
    border: 2px solid darkgreen;
    border-left-width: 5px;
}
.status-9{
    border: 2px solid rgb(90, 81, 81);
    border-left-width: 5px;
}